.Navbar{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    background-color: black;
    color: #ffffff;
    .logo{
        display: flex;
        align-items: center;
        img{
            height: 1em;
        }
    }
    .navbar-functional-components{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                list-style: none;
            }
        }
        .search-box{
            
        }
    }
}