.Navbar{
    display: flex;
    background-color: black;
    color: #ffffff;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 23px;
            width: 22.94px;
        }
        .logo-text{
            height: 138px;
            width: 40px;
            text-align: center;
        }
    }
    .navbar-functional-components{
        ul{
            display: flex;
            gap: 10px;
            li{
                list-style: none;
            }
        }
    }
}